.RegisterForm {
    width: 100%;
    padding: 0 auto;
    margin: 0.5vw auto ;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    /* background-color: unset; */
}

.RegisterForm input{
    padding: 0.5vw 0.8vw;
}
.RegisterForm input:autofill{
    -webkit-text-fill-color: rgb(0, 16, 87) !important;
    -webkit-box-shadow: 0 0 10px 10px rgb(83, 177, 253) inset, 0 0 0 100px rgb(158, 211, 255) inset ;
    /* box-shadow: transparent; */
    background-color: transparent !important;
    text-align: flex-start;
    padding-left: 1.2vw;
    align-content: center;
}

.RegisterForm fieldset{
    padding: 0;
    height: inherit;
}